@model IEnumerable<Tasks.Models.Task>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tasks</h1>
</div>

<div class="row">
    @foreach (var t in Model)
    {
        <li> @t.Name, @t.Description, @t.Isdone</li>
    }

</div>